In [1]:
from pymongo import MongoClient
import json

#instantiating MongoDB server
myclient = MongoClient()

In [2]:
#list of the databases
myclient.list_database_names()

['admin', 'config', 'end_exam', 'local', 'res_db']

In [3]:
exam = myclient.end_exam                    #switching to res_db
exam.list_collection_names()

['movies', 'comments']

In [4]:
movies = exam.movies
movie_1 = movies.find_one() 
attributes = list(movie_1.keys()) 
attributes

['_id',
 'plot',
 'genres',
 'runtime',
 'cast',
 'num_mflix_comments',
 'title',
 'fullplot',
 'countries',
 'released',
 'directors',
 'rated',
 'awards',
 'lastupdated',
 'year',
 'imdb',
 'type',
 'tomatoes']

In [10]:
user_cursor = movies.find(limit=1) # There's also a 'find_one' method that returns a single document
for user in user_cursor:
    print(user)

{'_id': ObjectId('573a1390f29313caabcd4135'), 'plot': 'Three men hammer on an anvil and pass a bottle of beer around.', 'genres': ['Short'], 'runtime': 1, 'cast': ['Charles Kayser', 'John Ott'], 'num_mflix_comments': 1, 'title': 'Blacksmith Scene', 'fullplot': 'A stationary camera looks at a large anvil with a blacksmith behind it and one on either side. The smith in the middle draws a heated metal rod from the fire, places it on the anvil, and all three begin a rhythmic hammering. After several blows, the metal goes back in the fire. One smith pulls out a bottle of beer, and they each take a swig. Then, out comes the glowing metal and the hammering resumes.', 'countries': ['USA'], 'released': datetime.datetime(1893, 5, 9, 0, 0), 'directors': ['William K.L. Dickson'], 'rated': 'UNRATED', 'awards': {'wins': 1, 'nominations': 0, 'text': '1 win.'}, 'lastupdated': '2015-08-26 00:03:50.133000000', 'year': 1893, 'imdb': {'rating': 6.2, 'votes': 1189, 'id': 5}, 'type': 'movie', 'tomatoes': {'viewer': {'rating': 3, 'numReviews': 184, 'meter': 32}, 'lastUpdated': datetime.datetime(2015, 6, 28, 18, 34, 9)}}

In [39]:
comments_1 = exam.comments
comment = comments.find_one() 
attributes = list(comment.keys()) 
attributes

['_id', 'name', 'email', 'movie_id', 'text', 'date']

In [11]:
user_cursor = comments.find(limit=1) # There's also a 'find_one' method that returns a single document
for user in user_cursor:
    print(user)

{'_id': ObjectId('5a9427648b0beebeb69579cc'), 'name': 'Andrea Le', 'email': 'andrea_le@fakegmail.com', 'movie_id': ObjectId('573a1390f29313caabcd418c'), 'text': 'Rem officiis eaque repellendus amet eos doloribus. Porro dolor voluptatum voluptates neque culpa molestias. Voluptate unde nulla temporibus ullam.', 'date': datetime.datetime(2012, 3, 26, 23, 20, 16)}

In [60]:
pipeline = [{"$limit": 10},
            {"$lookup": {'from': "comments", 
                         'localField': '_id', 
                         'foreignField': 'movie_id',
                         'as': 'comments'}},
            {"$project": {'_id': 0,
                          'plot': 1, 
                          'cast': 1,
                          'comments.text': 1,
                          }}]

# Call the aggregate function on 'users' collection passing in the pipeline:
for movie in movies.aggregate(pipeline):
    print(movie)

{'plot': 'Three men hammer on an anvil and pass a bottle of beer around.', 'cast': ['Charles Kayser', 'John Ott'], 'comments': []}
{'plot': 'A group of bandits stage a brazen train hold-up, only to find a determined posse hot on their heels.', 'cast': ['A.C. Abadie', "Gilbert M. 'Broncho Billy' Anderson", 'George Barnes', 'Justus D. Barnes'], 'comments': []}
{'plot': 'A young boy, opressed by his mother, goes on an outing in the country with a social welfare group where he dares to dream of a land where the cares of his ordinary life fade.', 'cast': ['Martin Fuller', 'Mrs. William Bechtel', 'Walter Edwin', 'Ethel Jewett'], 'comments': [{'text': 'Eius veritatis vero facilis quaerat fuga temporibus. Praesentium expedita sequi repellat id. Corporis minima enim ex. Provident fugit nisi dignissimos nulla nam ipsum aliquam.'}]}
{'plot': "A greedy tycoon decides, on a whim, to corner the world market in wheat. This doubles the price of bread, forcing the grain's producers into charity lines and further into poverty. The film...", 'cast': ['Frank Powell', 'Grace Henderson', 'James Kirkwood', 'Linda Arvidson'], 'comments': [{'text': 'Id error ab at molestias dolorum incidunt. Non deserunt praesentium dolorem nihil. Optio tempora vel ut quas.\nMinus dicta numquam quasi. Rem totam cumque at eum. Ullam hic ut ea magni.'}]}
{'plot': 'Cartoon figures announce, via comic strip balloons, that they will move - and move they do, in a wildly exaggerated style.', 'cast': ['Winsor McCay'], 'comments': []}
{'plot': 'A woman, with the aid of her police officer sweetheart, endeavors to uncover the prostitution ring that has kidnapped her sister, and the philanthropist who secretly runs it.', 'cast': ['Jane Gail', 'Ethel Grandin', 'William H. Turner', 'Matt Moore'], 'comments': [{'text': 'Iure laboriosam quo et necessitatibus sed. Id iure delectus soluta. Quaerat officiis maiores commodi earum. Autem odio labore debitis optio libero.'}]}
{'plot': 'The cartoonist, Winsor McCay, brings the Dinosaurus back to life in the figure of his latest creation, Gertie the Dinosaur.', 'cast': ['Winsor McCay', 'George McManus', 'Roy L. McCardell'], 'comments': []}
{'plot': 'Original advertising for the film describes it as a drama of primitive life on the shores of the North Pacific...', 'cast': ['Stanley Hunt', 'Sarah Constance Smith Hunt', 'Mrs. George Walkus', "Paddy 'Malid"], 'comments': [{'text': 'Minima odit officiis minima nam. Aspernatur id reprehenderit eius inventore amet laudantium. Eos unde enim recusandae fugit sint.'}]}
{'plot': "Young Pauline is left a lot of money when her wealthy uncle dies. However, her uncle's secretary has been named as her guardian until she marries, at which time she will officially take ...", 'cast': ['Pearl White', 'Crane Wilbur', 'Paul Panzer', 'Edward Josè'], 'comments': []}
{'plot': "The Civil War divides friends and destroys families, but that's nothing compared to the anarchy in the black-ruled South after the war.", 'cast': ['Lillian Gish', 'Mae Marsh', 'Henry B. Walthall', 'Miriam Cooper'], 'comments': []}

In [29]:
year_count = movies.aggregate([{'$group':{'_id':'$year','count':{'$sum':1}}}])

In [30]:
for movie in year_count:
    print(movie)

{'_id': '1999è', 'count': 1}
{'_id': 1934, 'count': 32}
{'_id': 1936, 'count': 40}
{'_id': 1978, 'count': 133}
{'_id': 2005, 'count': 758}
{'_id': 1960, 'count': 93}
{'_id': '2000è', 'count': 1}
{'_id': 1919, 'count': 2}
{'_id': 2010, 'count': 970}
{'_id': 2004, 'count': 741}
{'_id': 1972, 'count': 131}
{'_id': 1984, 'count': 211}
{'_id': 1949, 'count': 63}
{'_id': 1915, 'count': 5}
{'_id': 1931, 'count': 24}
{'_id': 1967, 'count': 108}
{'_id': '2006è2012', 'count': 2}
{'_id': '2011è', 'count': 2}
{'_id': 1913, 'count': 1}
{'_id': 1986, 'count': 206}
{'_id': 1948, 'count': 70}
{'_id': 1958, 'count': 92}
{'_id': '1995è', 'count': 1}
{'_id': 1965, 'count': 100}
{'_id': 1969, 'count': 117}
{'_id': 2012, 'count': 1109}
{'_id': 1982, 'count': 185}
{'_id': 1893, 'count': 1}
{'_id': '1987è', 'count': 1}
{'_id': 1962, 'count': 98}
{'_id': 1921, 'count': 6}
{'_id': 2009, 'count': 990}
{'_id': 1954, 'count': 64}
{'_id': 1992, 'count': 288}
{'_id': 1944, 'count': 30}
{'_id': 1950, 'count': 69}
{'_id': 2002, 'count': 655}
{'_id': 1946, 'count': 44}
{'_id': '1997è', 'count': 2}
{'_id': 1996, 'count': 431}
{'_id': 1947, 'count': 38}
{'_id': 1923, 'count': 6}
{'_id': '1981è', 'count': 1}
{'_id': 1951, 'count': 63}
{'_id': 1987, 'count': 239}
{'_id': 2003, 'count': 657}
{'_id': 2007, 'count': 872}
{'_id': '2002è', 'count': 1}
{'_id': 2014, 'count': 1147}
{'_id': '2010è', 'count': 4}
{'_id': '2015è', 'count': 1}
{'_id': 1989, 'count': 244}
{'_id': 1994, 'count': 318}
{'_id': 1966, 'count': 116}
{'_id': '1988è', 'count': 2}
{'_id': '2009è', 'count': 2}
{'_id': 2011, 'count': 1040}
{'_id': 1974, 'count': 109}
{'_id': 1924, 'count': 9}
{'_id': 2008, 'count': 969}
{'_id': 1995, 'count': 396}
{'_id': 1955, 'count': 81}
{'_id': 1920, 'count': 6}
{'_id': '2014è', 'count': 2}
{'_id': 1928, 'count': 19}
{'_id': 1985, 'count': 204}
{'_id': 1927, 'count': 11}
{'_id': 1980, 'count': 176}
{'_id': 1935, 'count': 40}
{'_id': 1959, 'count': 89}
{'_id': 1909, 'count': 1}
{'_id': 1926, 'count': 9}
{'_id': 1917, 'count': 3}
{'_id': 1993, 'count': 292}
{'_id': 1896, 'count': 2}
{'_id': 1979, 'count': 140}
{'_id': '2006è2007', 'count': 1}
{'_id': 1918, 'count': 1}
{'_id': '2007è', 'count': 3}
{'_id': 1903, 'count': 1}
{'_id': 1942, 'count': 36}
{'_id': 1981, 'count': 179}
{'_id': 1973, 'count': 123}
{'_id': 1983, 'count': 172}
{'_id': '1996è', 'count': 1}
{'_id': 2000, 'count': 618}
{'_id': '2012è', 'count': 3}
{'_id': 1930, 'count': 12}
{'_id': 1997, 'count': 458}
{'_id': '2006è', 'count': 1}
{'_id': 1894, 'count': 1}
{'_id': 1911, 'count': 2}
{'_id': 1922, 'count': 7}
{'_id': 1938, 'count': 44}
{'_id': 2016, 'count': 1}
{'_id': 1914, 'count': 3}
{'_id': 1939, 'count': 29}
{'_id': 1953, 'count': 82}
{'_id': 1990, 'count': 244}
{'_id': 2013, 'count': 1221}
{'_id': 1891, 'count': 1}
{'_id': 1940, 'count': 31}
{'_id': 1952, 'count': 58}
{'_id': 1970, 'count': 128}
{'_id': 2001, 'count': 645}
{'_id': 1912, 'count': 2}
{'_id': '2003è', 'count': 1}
{'_id': 1956, 'count': 80}
{'_id': 1932, 'count': 25}
{'_id': 1945, 'count': 39}
{'_id': 1991, 'count': 252}
{'_id': 1975, 'count': 112}
{'_id': '1994è1998', 'count': 1}
{'_id': 1961, 'count': 94}
{'_id': 1976, 'count': 127}
{'_id': 1929, 'count': 10}
{'_id': 1964, 'count': 113}
{'_id': 1941, 'count': 31}
{'_id': 1988, 'count': 265}
{'_id': 1957, 'count': 89}
{'_id': 2006, 'count': 844}
{'_id': 1998, 'count': 552}
{'_id': 1925, 'count': 13}
{'_id': 1937, 'count': 40}
{'_id': 1968, 'count': 112}
{'_id': '1986è', 'count': 1}
{'_id': 1971, 'count': 116}
{'_id': 1977, 'count': 134}
{'_id': '2005è', 'count': 2}
{'_id': 1943, 'count': 36}
{'_id': 1963, 'count': 99}
{'_id': 1933, 'count': 27}
{'_id': 1916, 'count': 4}
{'_id': 1999, 'count': 542}
{'_id': 2015, 'count': 484}

In [53]:
from termcolor import colored
text='left foot right foot left foot right. Feet in the day, feet at night.'
l1=['foot','feet']
formattedText = []
for t in text.lower().split():
    if t in l1:
        formattedText.append(colored(t,'blue','on_white'))
    else: 
        formattedText.append(t)

print(" ".join(formattedText))

left foot right foot left foot right. feet in the day, feet at night.