## Question-1

In [302]:
#import all necessary libraries
import numpy as np
import pandas as pd
from sklearn.linear_model import Ridge, Lasso
from sklearn.metrics import mean_squared_error, SCORERS
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt

#import module for ignoring warnings
import warnings
warnings.filterwarnings('ignore')

In [303]:
#read data from 'patients.csv' file
data = pd.read_csv('patients.csv')
data.head(10)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A35,A36,A37,A38,A39,A40,A41,A42,A43,A44
0,60,59,67,58,66,60,72,79,74,75,...,67,66,71,76,70,69,67,59,60,55
1,65,63,73,75,67,61,76,65,62,62,...,50,46,66,67,49,43,43,43,41,43
2,67,70,63,48,63,60,76,75,65,52,...,68,65,76,62,72,61,68,61,54,53
3,65,69,70,71,56,63,63,70,44,51,...,71,73,68,64,62,59,59,64,53,55
4,59,55,51,65,68,45,21,25,45,41,...,18,24,44,59,36,47,29,28,52,13
5,33,21,38,54,60,52,41,50,26,29,...,40,38,49,45,11,13,62,64,46,40
6,70,60,75,78,69,69,68,71,68,59,...,64,63,66,64,72,75,73,72,64,61
7,66,68,67,72,65,71,71,71,60,67,...,64,63,67,75,70,75,74,76,62,65
8,58,57,74,71,59,60,54,59,33,39,...,53,60,53,57,61,74,77,82,66,68
9,64,60,71,69,71,65,66,64,68,59,...,66,55,66,58,65,65,75,64,61,56

In [330]:
Y=data['A44']                       #column 'A44' as output
X=data.drop(['A44'], axis=1)        #remaining columns as features
X.head(), Y.head()

(   A1  A2  A3  A4  A5  A6  A7  A8  A9  A10  ...  A34  A35  A36  A37  A38  A39  \
 0  60  59  67  58  66  60  72  79  74   75  ...   62   67   66   71   76   70
 1  65  63  73  75  67  61  76  65  62   62  ...   54   50   46   66   67   49
 2  67  70  63  48  63  60  76  75  65   52  ...   53   68   65   76   62   72
 3  65  69  70  71  56  63  63  70  44   51  ...   57   71   73   68   64   62
 4  59  55  51  65  68  45  21  25  45   41  ...   71   18   24   44   59   36

    A40  A41  A42  A43
 0   69   67   59   60
 1   43   43   43   41
 2   61   68   61   54
 3   59   59   64   53
 4   47   29   28   52

 [5 rows x 43 columns],
 0    55
 1    43
 2    53
 3    55
 4    13
 Name: A44, dtype: int64)

In [305]:
X.shape,Y.shape

((257, 43), (257,))

In [306]:
Y.unique()        #different values present in the output

array([55, 43, 53, 13, 40, 61, 65, 68, 56, 58, 42, 71, 70, 20, 45, 46, 49,
       29, 60, 57, 64, 54, 52, 73, 36, 44, 63, 35, 50, 41, 59, 22, 62, 39,
       11, 32,  9, 12, 26, 17, 28, 51, 66, 30, 48, 21, 24, 67, 37, 38, 27,
       15, 18, 10, 19,  4, 47, 31, 16], dtype=int64)

In [307]:
X.info()             #check for any missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 43 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      257 non-null    int64
 1   A2      257 non-null    int64
 2   A3      257 non-null    int64
 3   A4      257 non-null    int64
 4   A5      257 non-null    int64
 5   A6      257 non-null    int64
 6   A7      257 non-null    int64
 7   A8      257 non-null    int64
 8   A9      257 non-null    int64
 9   A10     257 non-null    int64
 10  A11     257 non-null    int64
 11  A12     257 non-null    int64
 12  A13     257 non-null    int64
 13  A14     257 non-null    int64
 14  A15     257 non-null    int64
 15  A16     257 non-null    int64
 16  A17     257 non-null    int64
 17  A18     257 non-null    int64
 18  A19     257 non-null    int64
 19  A20     257 non-null    int64
 20  A21     257 non-null    int64
 21  A22     257 non-null    int64
 22  A23     257 non-null    int64
 23  A24     257 non-null    int64
 24  A25     257 non-null    int64
 25  A26     257 non-null    int64
 26  A27     257 non-null    int64
 27  A28     257 non-null    int64
 28  A29     257 non-null    int64
 29  A30     257 non-null    int64
 30  A31     257 non-null    int64
 31  A32     257 non-null    int64
 32  A33     257 non-null    int64
 33  A34     257 non-null    int64
 34  A35     257 non-null    int64
 35  A36     257 non-null    int64
 36  A37     257 non-null    int64
 37  A38     257 non-null    int64
 38  A39     257 non-null    int64
 39  A40     257 non-null    int64
 40  A41     257 non-null    int64
 41  A42     257 non-null    int64
 42  A43     257 non-null    int64
dtypes: int64(43)
memory usage: 86.5 KB

In [68]:
#SCORERS.keys()

In [308]:
#import GridSearchCV for finding optimal alpha for lasso regression
from sklearn.model_selection import GridSearchCV

parameters = {'alpha': [0.1, 1, 10,15,20,100]}             #define different alpha values in the parameter module
kfold = KFold(n_splits=10, shuffle=True, random_state=1)   #initialize kfold cross validation with 10 splits
model= GridSearchCV(Lasso(), parameters,cv=kfold, refit=True, verbose = 3,n_jobs=-1) #initialize GridSearchCV with model as Lasso
model.fit(X,Y)                                                #fit X and Y using Grid search

print("Optimal alpha is: %0.2f"%(model.best_params_['alpha']))  #printing optimal alpha for Lasso with CV
print("Best score is: %0.02f"%(model.best_score_))              #Best score for given alpha

Fitting 10 folds for each of 6 candidates, totalling 60 fits
Optimal alpha is: 10.00
Best score is: 0.85

In [ ]:
#second method

In [ ]:
#do cross validation for different alpha values 
#find rmse for each.
#alpha corresponding to minimum rmse gives optimal alpha
'''
kfold = KFold(n_splits=10, shuffle=True, random_state=1)
alpha_rmse={}
lasso_alpha=[1e-15, 0.01, 5, 10]

for alpha in lasso_alpha:
    model = Lasso(alpha=alpha)
    scores = cross_val_score(model, X, Y, cv=kfold, scoring='neg_mean_squared_error')
    alpha_rmse[alpha]=np.sqrt(abs(scores.mean()))

print(alpha_rmse)

optimal_alpha= [key for key in alpha_rmse if alpha_rmse[key]==min(alpha_rmse.values())]
print("Optimal alpha for lasso redression with cross validation is %0.2f" %optimal_alpha[0])

'''

In [309]:
Y_pred=model.predict(X)            #predict the output with the model get in the previous step
mse=mean_squared_error(Y,Y_pred)   #mean squared error wrt actual uotput and predicted output
mse

27.050289553037025

In [310]:
test_data=pd.read_csv('test_data.csv')                #read test data from file 'test.csv'
#test_data.drop(['A44'], axis=1, inplace=True)    #this line is for deleting output if already d
test_data.head(10)

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A34,A35,A36,A37,A38,A39,A40,A41,A42,A43
0,65,67,67,61,55,57,66,74,64,69,...,55,63,64,60,61,74,63,59,58,50
1,67,59,54,48,63,67,77,78,71,61,...,43,76,77,80,69,61,48,63,61,37
2,79,77,78,70,69,65,75,75,69,66,...,51,72,75,72,73,68,63,41,36,25
3,55,66,58,75,71,77,68,73,63,69,...,79,70,74,62,71,67,66,63,61,53
4,72,63,68,62,72,63,79,61,57,49,...,72,53,46,63,62,53,43,38,35,32
5,68,64,65,68,63,64,77,73,75,72,...,64,63,61,70,69,74,67,51,48,45
6,70,65,65,62,68,67,77,74,62,61,...,73,73,73,75,71,73,72,73,70,65
7,73,74,65,66,69,69,67,81,65,62,...,66,66,69,72,70,74,76,75,72,67
8,68,62,64,65,70,69,76,75,63,59,...,51,71,70,61,56,77,76,66,67,49
9,66,81,75,72,69,67,74,81,67,73,...,63,67,66,60,71,46,58,35,37,24

In [311]:
test_data['A44']=model.predict(test_data)  #predict the output for test data
test_data.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A35,A36,A37,A38,A39,A40,A41,A42,A43,A44
0,65,67,67,61,55,57,66,74,64,69,...,63,64,60,61,74,63,59,58,50,46.576030
1,67,59,54,48,63,67,77,78,71,61,...,76,77,80,69,61,48,63,61,37,40.752126
2,79,77,78,70,69,65,75,75,69,66,...,72,75,72,73,68,63,41,36,25,27.138286
3,55,66,58,75,71,77,68,73,63,69,...,70,74,62,71,67,66,63,61,53,51.360105
4,72,63,68,62,72,63,79,61,57,49,...,53,46,63,62,53,43,38,35,32,28.293497

In [312]:
test_data.to_csv('test.csv',index=False)          #write the result to the file 'test.csv'

## Question-2

In [334]:
from sklearn import datasets
whole_data=datasets.load_diabetes(return_X_y=False)      #from sklear datasets import diabetes data set
                                                         #whole_data holds data, target, feature_names etc as a dictionary
X=pd.DataFrame(whole_data['data'])                       #create a dataframe 'X' holds features
Y=pd.DataFrame(whole_data['target'])                     #creat a dataframe 'Y' holds target values
X.columns=whole_data['feature_names']                    #rename column names with feature names and target for X and Y
Y.columns=['target']                                     
X.head(), Y.head()

(        age       sex       bmi        bp        s1        s2        s3  \
 0  0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
 1 -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
 2  0.085299  0.050680  0.044451 -0.005671 -0.045599 -0.034194 -0.032356
 3 -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
 4  0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142

          s4        s5        s6
 0 -0.002592  0.019908 -0.017646
 1 -0.039493 -0.068330 -0.092204
 2 -0.002592  0.002864 -0.025930
 3  0.034309  0.022692 -0.009362
 4 -0.002592 -0.031991 -0.046641  ,
    target
 0   151.0
 1    75.0
 2   141.0
 3   206.0
 4   135.0)

In [335]:
X.shape, Y.shape

((442, 10), (442, 1))

#### a. Perform k-fold CV on Ridge and Lasso Regression where k=(5 and 10)

In [336]:
models=[('lasso', Lasso(alpha=0.01)),('ridge', Ridge(alpha=0.01))]          #define an array holding lasso and ridge models with alpha=0.01
K_values=[5,10]                                                             #define an array for holding k values for kfold
print("Model     K     Accuracy     Standard_Deviation")

#iterate over different models and defferent Ks
#for each case fins mean squared error
#accuray is root mean squared error
#print both these for lasso and ridge for k=5,k=10
for name,model in models:
    print(name)
    for k in K_values:
        kfold = KFold(n_splits=k, shuffle=True,random_state=10)
        scores = cross_val_score(model, X, Y, cv=kfold,scoring='neg_mean_squared_error')
        print("          %d     %0.02f          %0.02f" %(k, np.sqrt(abs(scores.mean())), scores.std()))

Model     K     Accuracy     Standard_Deviation
lasso
          5     55.26          424.83
          10     55.20          579.62
ridge
          5     55.17          431.71
          10     55.13          586.09

#### b. Perform LOO CV for Lasso and Ridge Regression.

In [337]:
from sklearn.model_selection import LeaveOneOut
LOO = LeaveOneOut()                                      #define leave one out
print('model     Accuracy      Standard_Deviation')

#iterate over lasso and redge
#accuray is root mean squared error
for name,model in models:
        scores = cross_val_score(model, X, Y, cv=LOO,scoring='neg_mean_squared_error')
        print("%s     %f     %f " % (name, np.sqrt(abs(scores.mean())), scores.std()))

model     Accuracy      Standard_Deviation
lasso     54.846689     3923.581252
ridge     54.775779     3916.653082

#### c. Perform Grid-Search CV for Lasso and Ridge Regression for various values of alpha and show best value of parameter.

In [338]:
models = [('lasso', Lasso()), ('ridge', Ridge())]        #define array for holdinf lasso and redge models

In [342]:
#iterate over lasso and redge 
for name, model in models:
    parameters = {'alpha': [1e-15, 0.1, 1, 10,15,20,100]}      #define parameters for grid search
    kfold = KFold(n_splits=10, shuffle=True, random_state=10)   #initialize kfold with k=10
    
    #inititialize grid search with cv=k fold or cv=LOO,un comment one
    my_model= GridSearchCV(model, parameters,cv=kfold, refit=True, verbose = 3,n_jobs=-1)
    #my_model= GridSearchCV(model, parameters,cv=LOO, refit=True, verbose = 3,n_jobs=-1)
    
    my_model.fit(X,Y)                                        #fit the model with X and Y using optimal alpha value
    print("Best value of alpha for %s:"%name)
    print(my_model.best_params_)                             #print best value of alpha

Fitting 10 folds for each of 7 candidates, totalling 70 fits
Best value of alpha for lasso:
{'alpha': 1e-15}
Fitting 10 folds for each of 7 candidates, totalling 70 fits
Best value of alpha for ridge:
{'alpha': 0.1}